<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clément GOUIN - Curriculum vitae</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="material-colors.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="main.js"></script>
    <meta property="og:title" content="Clément GOUIN" />
    <meta property="og:description" content="Curriculum vitae" />
    <meta
      property="og:image"
      content="https://clement-gouin.github.io/curriculum/photo.jpg"
    />
    <meta
      property="og:url"
      content="https://clement-gouin.github.io/curriculum/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main id="app" style="display: none">
      <img id="photo" src="./photo.jpg" />
      <h1>Clément GOUIN<br /><small>{{ text.title }}</small></h1>
      <br />
      <h2 class="">{{age}} {{ text.years }} — <i class="fas fa-location-dot"></i> Angers, France</h2>
      <br />
      <h3 class="caps">{{ text.work_experience }}</h3>
      <br />
      <ul>
        <li v-for="item, i in experiences" :key="`item-${i}`">
          <p>
            <img class="icon" :src="brandIcon(item.domain)" />
            {{ item.dates }} —
            <a target="_blank" :href="`https://${item.domain}`"
              >{{ item.name }}</a
            >
            — {{ item.texts[lang].title }}
          </p>
          <p class="desc" v-if="item.texts[lang].description">
            {{ item.texts[lang].description }}
          </p>
        </li>
      </ul>
      <br />
      <h3 class="caps">{{ text.education }}</h3>
      <br />
      <ul>
        <li v-for="item, i in education" :key="`edu-${i}`">
          <p>
            <img class="icon" :src="brandIcon(item.domain)" />
            {{ item.dates }} —
            <a target="_blank" :href="`https://${item.domain}`"
              >{{ item.name }}</a
            >
            — {{ item.texts[lang].title }}
          </p>
          <p class="desc" v-if="item.texts[lang].description">
            {{ item.texts[lang].description }}
          </p>
        </li>
      </ul>
      <br />
      <h3 class="caps">{{ text.technologies }}</h3>
      <br />
      <ul>
        <li v-for="item, i in technologies" :key="`item-${i}`">
          <h4><i :class="item.icon"></i> {{ item.name }}</h4>
          <p class="brands">
            <component
              :is="subitem.domain ? 'a' : 'span'"
              v-for="subitem, j in item.brands"
              :key="`item-${i}-${j}`"
              :href="subitem.domain ? `https://${subitem.domain}` : ''"
              class="brand"
              ><img
                class="icon"
                v-if="subitem.domain"
                :src="brandIcon(subitem.domain)"
              />
              <i v-if="subitem.icon" :class="subitem.icon"></i>
              {{ subitem.name }}</a
            >
          </p>
        </li>
      </ul>
      <br>
      <h3 class="caps">{{ text.contact }}</h3>
      <br>
      <ul>
        <li><i class="fas fa-envelope"></i> <a href="mailto:gouin.cle@gmail.com">gouin.cle@gmail.com</a></li>
        <li><i class="fab fa-linkedin"></i> <a target="_blank" href="https://github.com/clement-gouin">https://github.com/clement-gouin</a></li>
        <li><i class="fab fa-github"></i> <a target="_blank" href="https://fr.linkedin.com/in/clement-gouin">https://fr.linkedin.com/in/clement-gouin</a></li>
      </ul>
      <p class="show-print"><small><i>({{ text.updated }} <a href="https://clement-gouin.github.io/curriculum/">https://clement-gouin.github.io/curriculum/</a>)</i></small></p>
    </main> 
  </body>
</html>
